/*Universal*/
html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*Banner*/

.banner {
  background-image: url("../../resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 31rem;
}

.banner-box-container {
  display: flex;
  justify-content: flex-end;
  width: 962px;
  margin: 0 auto;
}

.banner-box {
  background-color: white;
  position: relative;
  top: 13.5rem;
  margin-right: -2rem;
}

.banner-box h1 {
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/*header*/

header {
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  top: 1rem;
  width: 100%;
  z-index: 1;
}

.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.logo img {
  margin: 0 1rem 0 2rem;
  height: 1.5rem;
}

.logo span, .logo-footer span {
  font-size: 1rem;
}

nav {
  margin: 1rem 0;
}

nav span {
  padding-right: 2rem;
}

.mobile-nav {
  display: none;
}


/*icons*/

.icons {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  width: 5rem;
}

.exams, .fittings {
  margin-right: 6rem;
}

.icon-box img {
  width: 5rem;
}

.icon-box p {
  text-align: center;
}

.exams img {
  width: 3.5rem;
}


/*info*/

.info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.info h2 {
  background-color: cadetblue;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1.25rem;
  text-transform: uppercase;
  width: 10rem;
  margin-bottom: 1rem;
}

.info .philosophy {
  margin-right: 5%;
}

.philosophy, .appointments {
  width: 35%;
}

.info p {
  line-height: 1.5;
}


/*footer*/


footer {
  background-color: azure;
  width: 100%;
  margin-top: 5rem;
}

.logo-footer {
  display: flex;
  align-items: center;
}

.logo-footer img {
  margin: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}


@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  .banner {
    height: 22rem;
  }

  .banner-box-container {
    width: 100%;
    margin: 0 auto;
  }

  .banner-box {
    top: 8.5rem;
    right: 2rem;
    box-sizing: border-box;
    margin: 0;
  }

  .banner-box h1 {
    font-size: 1.33rem;
    padding: 1.5rem 4rem;
  }

  header {
    top: 0;
  }
}


@media only screen and (max-width: 750px) {
  .container {
    width: 100%;
  }

  nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .logo span {
    display: none;
  }

  .banner {
    background-position: 20%;
    height: 17rem;
  }
/*
  .banner-box {
    background-color: white;
    position: relative;
    top: 13.5rem;
    margin-right: -2rem;
  }

*/


  .banner-box-container {
    justify-content: center;
    max-width: 750px;
    margin-top: 9rem;

  }

  .banner-box {
    position: static;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .banner-box h1 {
    font-size: 1rem;
    padding: 1rem 4rem;
  }

  .icons {
    margin: 3.77rem 0;
    flex-direction: column;
  }

  .icon-box {
    margin: 1.54rem auto auto;
    height: auto;
  }
  .icon-box img {
    margin-bottom: 1.54rem;
  }
  .icons p {
    font-size: 0.77rem;
  }
  .info {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .philosophy, .appointments {
    width: 100%;
    margin: 0 auto;
  }
  .info h2 {
    text-align: center;
    width: auto;
    margin-bottom: 1rem;
  }
  .info p {
    font-size: 0.77rem;
    width: 98%;
    margin: 0 auto;
  }
  .philosophy p {
    margin-bottom: 4rem;
  }

  .logo-footer span {
    display: none;
  }
  .logo-footer img {
    margin: 4rem auto;
  }

}
